env
Lecture3/cycles.py
Lecture4/strings.py
Lecture5/lists.py
Lecture5/test.py
Lecture6/dicts.py
Lecture7/tuple_set.py
Lecture8/funcs.py
Lecture8/test.py
Lecture8/__pycache__
Lecture9/funcs.py
Lecture10/funcs.py
Lecture11/TestDir
Lecture11/demofile3.txt
Lecture11/file2.txt
Lecture11/files.py
Lecture11/new_file.txt
Lecture11/test.py
Lecture11/test.txt
Lecture11/text.txt
Lecture11/writable.txt
Lecture13/test
Lecture13/main.py
testDirectory
Lecture14/oop.py
Lecture15/oop2.py